<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python REST API</title>
</head>
<body>
    <form action="/read" method="post">
        Enter API URL: <input type="text" name="api_url">
        <input type="submit" value="Read">
    </form>
    <br>
    <button onclick="location.href='/generate'">Generate</button>
    
    <!-- Download Excel button -->
    {% if data %}
    <br>
    <button onclick="location.href='/download'">Download as Excel</button>
    {% endif %}

    <br><br>
    <table border="1">
        <tr>
            <th>Timestamp</th>
            <th>Token</th>
            <th>Symbol</th>
            <th>IV</th>
            <th>Delta</th>
            <th>Theta</th>
            <th>Vega</th>
            <th>Gamma</th>
        </tr>
        <!-- This will populate the table with data from Flask -->
        {% for item in data %}
        <tr>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.token }}</td>
            <td>{{ item.symbol }}</td>
            <td>{{ item.IV }}</td>
            <td>{{ item.delta }}</td>
            <td>{{ item.theta }}</td>
            <td>{{ item.vega }}</td>
            <td>{{ item.gamma }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
